<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <div class="container">
        {% block head %}
		<div class="jumbotron p-3">
			<div class="well text-center">
				<span class="border border-dark">
				<h1>NotePad Tracker </h1>
				</span>
			</div>
		</div>
		<br/>
		{% include 'navbar.html'%}
		{% endblock %}
    </div>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- custom style for table 
<link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
-->
</head>
<body>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<footer>
	<hr />
	<p class="text-center">Notepad Tracker</p>
</footer>
</body>
</html>